# 디폴트 무시된 파일
/../../../../../35기/server/git/homework/.idea/shelf/
/../../../../../35기/server/git/homework/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../../../35기/server/git/homework/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../35기/server/git/homework/.idea/dataSources/
/../../../../../35기/server/git/homework/.idea/dataSources.local.xml
